.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077c0;
    color: white;
    padding: 10px; 
}

.navbar-title {
    font-size: 40px;
}

.navbar-title span {
    display: inline-block;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-links {
    display: flex;
    align-items: center; /* Align navbar links vertically */
}

.navbar-links a {
    margin-right: 15px;
    text-decoration: none; /* Removed underline */
    color: white; /* Use white for link color */
    font-size: 22px;
}

.navbar-links a:hover {
    color: #000000; 
}

.user-section {
    display: flex;
    align-items: center; /* Align items vertically */
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align user info text to the left */
}

.user-info h2 {
    margin: 0; /* Remove default margin */
}

.login-register {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.login-register a {
    text-decoration: none; /* Removed underline */
    color: white; /* Use white for link color */
    font-size: 21px;
}

.login-register a:hover {
    color: black; /* Change hover color */
}

.login-register span {
    margin: 0 5px;
}

.fa-circle-user {
    font-size: 51px;
    color: white; /* Use white for icon color */
    margin-left: 10px;
    margin-top: 3px;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 10px; /* Adjust margin between navbar sections */
    }
}

.W {
    color:#FEBE10;
}
