.shopproductsection {
    padding: 25px;
    height: auto;
    background: linear-gradient(to bottom left, #EBDEF0, #A9CCE3, #A3E4D7, #ABEBC6, #EDBB99);
  }
  
  .shopproductsectionbox {
    width: 1250px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    background: linear-gradient(to bottom right, #B4C424, #8A9A5B, #009E60);
  }
  
  .spshead {
    padding: 20px;
    font-size: 33px;
    color: #0000FF;
  }
  
  .pdbox {
    border: 2px solid #D35400;
    font-size: 25px;
    width: 800px;
    height: auto;
    padding: 5px;
    white-space: pre;
    font-family: Luminari;
    color: white;
    line-height: 1; /* Adjust line height */
  }
  
  
  
  
  /* Base styles */
  .product-search1,
  .input-field {
    width: 300px;
    height: 45px; 
    padding: 10px;
    border: 2.5px solid #A020F0; 
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .product-search1 {
    margin-right: 10px;
  }
  
  .input-field {
    margin-right: 10px;
  }
  
  .search-button1,
  .submit-button {
    background-color: #3457D5;
    color: white;
    border: 2px solid #FF00BF; /* Border color matches background color */
    padding: 10px; /* Increased padding for more width */
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Center align container */
  .search-container,
  .rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Hover effects */
  .search-button1:hover,
  .submit-button:hover {
    background-color: #FF10F0; /* Darker shade of primary color */
    border-color: #0000FF; /* Adjusted border color on hover */
  }
  
  /* Red border for inputs */
  .product-search1,
  .input-field {
    border-color: #A020F0; 
  }
  
  /* Adjusted positioning for buttons */
  .search-button1 {
    min-width: 40px;
  }
  
  .submit-button {
    min-width: 120px; 
  }
  
  
  .submit-button {
    margin-right:-102px;
  }
  
  /* .center-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  .center-table th, .center-table td {
    border: 1px solid #000; 
    padding: 8px;
    text-align: center;
    color: white; 
    font-family: Luminari; 
    font-size: 22px;
  }
  .orange-border th, .orange-border td {
    border: 1.2px solid rgb(222, 71, 16);
  } */
  
  
  .center-table-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
  
  .center-table {
    width: 80%; /* Adjust the width to make the table smaller */
    border-collapse: collapse;
  }
  
  .center-table th, .center-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    color: white;
    font-family: Luminari;
    font-size: 18px; /* Adjust the font size if needed */
  }
  
  .orange-border th, .orange-border td {
    border: 1.2px solid rgb(222, 71, 16);
  }