{% extends "base.html" %}
{% load static %}

{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'additems.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}

{% block content %}

<section class="additems">
    <h1 class="adih">Add items to the store</h1>
    <div class="additemsbox">
    <h5 class="additemsguide">Enter the name of the product in the 'Product Name' field, current price of the product in 'Price' (modifiable later), specify the quantity, and indicate the location of the product. Divide the store into sections for each category and organize them sequentially to facilitate easy identification. Additionally, specify the section and exact position of the product for fast identification purposes in the designated 'Place' field.</h5>
      
  <div class="AISB">
    <button type="submit" class="save-button">Save All</button>
  </div>
    <table class="editable-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Buying Price</th>
        <th>Selling price</th>
        <th>Quantity</th>
        <th>Place</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" value="Sunflower-Oil" class="editable-input">
        </td>
        <td>
          <input type="text" name="contact" value="₹ 120" class="editable-input">
        </td>
        <td>
        <input type="text" name="contact" value="₹ 140" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="10" class="editable-input">
        </td>
        <td>
          <input type="text" name="country" value="Oil 10" class="editable-input">
        </td>
      </tr>



      <!-- Add more <tr> blocks as needed for additional rows -->
    </tbody>
  </table>
  
  
    </div>
  </section>

  {% endblock %}

   