{% extends "base.html" %}

{% load static %}
{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'dailymonthlydata.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}
{% block content %}

<section class="DMSPsec">
   <h1 class="DMASCH"> Customer NAME </h1>
   <div class="DMSPbox">
      <div class="daily">
         <h2 class="DSPBH"><u>Daily Purchasing Products</u></h2>
        <div class="input-container">
 <input type="text" placeholder="Enter the date Ex:- 15-07-2024 ">
 <button type="button" class="search-button">
   <i class="fas fa-search fa-lg"></i>
 </button>
</div>
         <h5 class="DSPH"> <u><i>   Product Name          Quantity         Price</u></i></h5>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        <p class="DSPP">  Sunflower Oil          10         ₹ 140 </p>
        
 <div class="container-unique">
 <div class="white-box-unique">
   <div class="text-unique">
     <p>TOTAL AMOUNT PURCHASED TODAY:<b> ₹  100000</b></p>
    
   </div>
 </div>
</div>

        
      </div>
      <div class="monthly">
         <h2 class="MSPBH"><u>Monthly Purchasing Products</u></h2>
        <div class="input-container">
 <input type="text" placeholder="Filter by month and year as 07-2024">
 <button type="button" class="search-button">
   <i class="fas fa-search fa-lg"></i>
 </button>
</div>
         <h5 class="MSPH"> <u><i>   Product Name           Quantity          Price</u></i></h5>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
         <p class="MSPP">   Sunflower Oil          10          ₹ 140 </p>
          <div class="container-unique">
 <div class="white-box-unique">
   <div class="text-unique">
     <p>TOTAL AMOUNT PURCHASED THIS MONTH:<b> ₹  100000</b></p>
   </div>
 </div>
</div>
      </div>
   </div>
</section>

 {% endblock %}