{% extends "base.html" %}

{% load static %}

{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}
 
{% block content %}
<section class="SORegister">
    <div class="SORBox">
        <h2 class="SORH">Customer Registration</h2>
       <form>
           <div class="form-group">
               <label for="fname">First Name :</label>
               <input type="text" id="fname" name="fname" placeholder="First name">
           </div>
           <div class="form-group">
               <label for="lname">Last Name :</label>
               <input type="text" id="lname" name="lname" placeholder="Last name">
           </div>
         
           {% comment %} <div class="form-group">
               <label for="lname">Shop Name :</label>
               <input type="text" id="lname" name="lname" placeholder="Shop name">
           </div> {% endcomment %}
          <div class="form-group">
               <label for="email">Mail Id :</label>
               <input type="email" id="email" name="email" placeholder="Email ID">
           </div>
           <div class="form-group">
               <label for="pno">Phone Number :</label>
               <input type="tel" id="pno" name="pno" placeholder="Phone Number">
           </div>
           
           <div class="form-group">
               <label for="ast">Street Address :</label>
               <input type="text" id="ast" name="ast" placeholder="Street Address ">
           </div>
           <div class="form-group">
               <label for="village">Village :</label>
               <input type="text" id="village" name="village" placeholder="Village name">
           </div>
           <div class="form-group">
               <label for="mandal">Mandal :</label>
               <input type="text" id="mandal" name="mandal" placeholder="Mandal name">
           </div>
           <div class="form-group">
               <label for="city">City :</label>
               <input type="text" id="city" name="city" placeholder="City Name">
           </div>
           <div class="form-group">
               <label for="state">State :</label>
               <input type="text" id="state" name="state" placeholder="State Name">
           </div>
           <div class="form-group">
               <label for="pc">Pin Code :</label>
               <input type="number" id="pc" name="pc" placeholder="Pin Code">
           </div>
           <div class="form-group">
               <label for="passwd">Password :</label>
               <input type="password" id="passwd" name="passwd" placeholder="Enter Your Password">
           </div>
       </form>

      <button type="button" class="join-button">Join Us</button>
      <p class="rloginp">Already have an account. Please <a href="{% url 'customer_login' %}" class="ralogin-link">Login</a></p>
    </div>
 </section>
 {% endblock  %}


