{% extends "base.html" %}
{% load static %}
{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'knowmore.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}

{% block content %}

<section class="KMDIsec">
    <div class="KMDIseccont">
           <h1 class="KMIDhead"> <b> Know More / Digital Inventory </b></h1>
           <h2 class="FSObox1">For Shop Owners</h2>
           <ul class = "KMDIlist">
           <li><i class="fa-solid fa-circle-arrow-right"></i> Forgot the price and product location; don't worry, we provide.</li>
           
           <li><i class="fa-solid fa-circle-arrow-right"></i> You can easily add more products at a time using the table interface.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> No delays in selling and billing; high-speed work.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Accurate bill calculations, fast and error-free.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Don't worry about data security.we provide high security for your data.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> We ensure high security and privacy for your data.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Instant billing insights: price, quantity, total.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Stock alerts: low stock notifications.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Send automated messages to dealers.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> List of the most and least selling products.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Actionable analytics Daily, Monthly, Yearly: Profit, loss reports</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Great search functionality. Find products with ease.</li>
           <li><i class="fa-solid fa-circle-arrow-right"></i> Great and easy-to-use user interface.</li>
         </ul>

     <h2 class="FSObox1">For Customers</h2>
     <ul class = "KMDIlist">
       <li><i class="fa-solid fa-circle-arrow-right"></i> Great and easy-to-use user interface.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Explore and choose the best nearby shop for you.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Utilize the great search feature for quickly finding shops.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Find the price and stock availability of products in the shop from anywhere.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Compare the prices of products in nearby stores.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Choose the best shop near you and save money.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Check product availability anywhere: Access information conveniently.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Save valuable time and money with informed decisions.</li>
       <li><i class="fa-solid fa-circle-arrow-right"></i> Find all the data here: Access comprehensive information.</li> 
       <li><i class="fa-solid fa-circle-arrow-right"></i> Choose the shop based on reviews.</li>
     </ul>
     
    
    </di>
</section>
{% endblock %}


