{% extends "base.html" %}

{% load static %}

{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% endblock css%}

{% block content %}
<section class="SORegister">
    <div class="SORBox">
        <h2 class="SORH">Shop Owner Registration</h2>
       <form action=""  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if field.errors %}
            <div class="error-message">
                {% for error in field.errors %}
                    <p style="color: red; font-weight: bold; font-size: 26px;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="join-button">Join Us</button>
    </form>
    <p class="rloginp">Already have an account? Please <a href="#" class="ralogin-link">Login</a></p>
</div>
 </section>


{% endblock  %}


