{% extends "base.html" %}
{% load static %}
{% block css %}
    <!-- Link to home-specific CSS -->
    <link rel="stylesheet" href="{% static 'shopownernearbystores.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css%}

{% block content %}
<div class="gradient-background">
    <h1 class="data_header"> {{ shop_owner_first_name }} {{ shop_owner_last_name }}  Find the shops near you or search for all the shops in the village. </h1>
  </div>
<section class="nearby_section">
    <div class="nearby_box">
       <div style="text-align: center; padding: 15px;">
          <h3 class="nearby_header">Nearby Stores</h3>
          {% comment %} <button class="DSPbu" onclick="window.location.href='/custdmhist'">View Daily and Monthly Purchases</button> {% endcomment %}
       </div>
       <div class="search-container1">
         <form method="GET">
            {{ form.as_p }}
            <button type="submit" class="search-button1"><i class="fa fa-search"></i></button>
        </form>
          <p class="neargui">To check the prices and give ratings, click on store names.</p>
          {% comment %} <button class="DSPbu" onclick="window.location.href='/daily_monthly_data'">View Daily and Monthly Purchases</button> {% endcomment %}
         </div>
       <div style="text-align: center; padding: 15px;">
          <h4 class="nearbyhe"><u>Click on store name to get shop details  </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u> Village Name</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u> Shop Rating 1 - 5       Address</u></h4>
 <!--          <h4 class="nearbyhe"><u>Store Name | Village | Rating</u></h4> -->
       </div>
       <div class="store-details"> 
         {% for shop in shops %}
         <div class="store-item">
             <p>
                 <a href="{% url 'shop_owner_products_data' shop.pk %}">{{ shop.shop_owner_shop_name }}</a> |
                 {{ shop.shop_owner_village_name }} |
                 {{ shop.shop_owner_street_address }} |
                 {{ shop.shop_owner_mandal_name }} |
                 {{ shop.shop_owner_city_name }}
             </p>
         </div>
     {% empty %}
         <p>No shops found in this village.</p>
     {% endfor %}
    </div>
 </section>

 {% endblock %}