.billing_section {
    padding: 25px;
    background-color: #FF00BF;
    background: linear-gradient(to bottom right, #FF00BF 0%, #007FFF 50%, #FF5733 100%);
    text-align: center; /* Center content horizontally */
    height:auto;
}

.billingbox_guide {
    color: red;
    padding: 15px;
    font-family: Georgia;
    text-align: justify;
    margin-left: 120px;
}

.billing_box {
    background-color: #ecf3f9;
    width: 80%; /* Adjust width as needed */
    max-width: 1350px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #F2EBDD 0%, #D7FFD9 100%);
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px;
    box-sizing: border-box;
    height:auto;
}

.bgmar {
    white-space: nowrap;
    overflow: hidden;
}

/* Search input and button styles */
.search-container {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    margin-top: 10px; 
}

.product-search {
    width: calc(100%); 
    padding: 10px 80px 10px 10px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.search-button {
    position: absolute;
    right: 7px;
    top: 5.1px;
    padding: 5.5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-button i {
    font-size: 16px;
}

/* Table styles */
.billtable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

.billtable th, .billtable td {
    /* border: 1px solid #dddddd; */
    border: 1px solid #32de84; 
    text-align: left;
    padding: 10px;
   
    
}

.billtable th{
    background-color: #f2f2f2;
}

.billtable .product-name {
    width: 25%; /* Adjust width as needed */
}

.billtable .quantity, .billtable .price, .billtable .place {
    width: 15%; /* Adjust width as needed */
}

.billtable .table-row {
    background-color: #f9f9f9;
}

/* Total section styles */
.total-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: center; /* Center align text */
    display: inline-block; /* Ensures inline-block behavior */
    width: auto; /* Adjust width as needed */
    font-family:Helvetica;
}

.total-section div {
    margin-bottom: 10px;
}

.total-section span {
    font-weight: bold;
    color: #333;
}

/* Bill button styles */

.bill-button {
    padding: 15px; /* Adjusted padding */
    background-color: #228B22;
    color: white;
    font-size: 27px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px auto; /* Centers button */
    width:auto;
     /* adjusted width to auto from 150px */
    height: 40px;
    border: none; 
    outline: none; 
    position: relative; 
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.bill-button::before {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position relative to .bill-button */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Behind the button content */
    border-radius: inherit; /* Inherit border-radius from .bill-button */
    background-image: linear-gradient(to right, #007FFF, #FF00BF, #FF5733); /* Gradient background */
}
.bill-button:hover {
    background-color: #0055FF;
}


.bill-button2 {
    padding: 15px; /* Adjusted padding */
    background-color: #E32636;
    color: white;
    font-size: 27px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px auto; /* Centers button */
    width:auto;
     /* adjusted width to auto from 300px */
    height: 40px;
    border: none; 
    outline: none; 
    position: relative; 
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.bill-button2::before {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position relative to .bill-button */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Behind the button content */
    border-radius: inherit; /* Inherit border-radius from .bill-button */
    background-image: linear-gradient(to right, #007FFF, #FF00BF, #FF5733); /* Gradient background */
}
.bill-button2:hover {
    background-color: white;
    color:#E32636;
}

.cust_mailId {
    width:500px;
    height:20px;
    border-radius: 8px;
    padding:10px;
    border: 1.5px solid black;
}

.adih {
    color:#FF4500;
}

.alert-success {
    color: #009900; /* Dark green text color */
    background-color: #d4edda; /* Light green background color */
    border: 1px solid #28a745; /* Green border color */
    padding: 10px; /* Padding to add space inside the alert box */
    border-radius: 4px; /* Optional: Rounded corners */
    margin:10px;
}