.resetpwdsec {
    background-color: #40a829;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68.5vh;
}

.card {
    width: 900px;
    height: 500px;
    padding: 20px;
    background: rgba(19, 133, 53, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.card h2 {
    text-align: center;
    color: #FEBE10;
    margin-bottom: 20px;
    font-size: 33px; 
    font-family: 'Luminari';
}

.card form {
    display: flex;
    flex-direction: column;
}

.card input {
    margin-bottom: 10px;
    padding: 25px;
    width: 80%; 
    border: 2px solid #FF00BF;
    border-radius: 6px;
    font-size: 22px;
    outline: none;
}

.card button {
    padding: 12px;
    border: 1px solid #FF5F1F;
    border-radius: 8px;
    background-color: #0000FF;
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "American Typewriter", "serif";
}

.card button:hover {
    background-color: white;
    color: #0000FF;
}

.styled-input {
    width: 100%; /* Reduce the width */
    margin: 0 auto; /* Center align the input elements */
    border: 2px solid black; /* Set border color */
    padding: 10px; /* Add padding for better spacing */
    display: block; /* Ensure each input is on its own line */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
